/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}

.form-group {
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

.form-control {
	width: 200px;
	text-align: center;
}

input {
	display: block;
	margin: 0 auto;
}

.tract:hover {
	fill: orange;
}


.flow {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
	clear: both;

}
.flow:hover {
	stroke-opacity: .75;
	stroke: #000;


}

.group:after {
	content: "";
	display: table;
	clear: both;
}

p {
	margin-left: 100px;
	margin-right: 100px;
}

#introduction {
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../img/editarrow.jpeg');
}

/* Autocomplete */
* { box-sizing: border-box; }
body {
	font: 16px Arial;
}
.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}