/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}

.form-group {
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

.form-control {
	width: 200px;
	text-align: center;
}

input {
	display: block;
	margin: 0 auto;
}

.tract:hover {
	fill: orange;
}

.link {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
	clear: both;

}
.link:hover {
	stroke-opacity: .5;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

p {
	margin-left: 100px;
	margin-right: 100px;
}

#introduction {
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../img/editarrow.jpeg');
}